version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/financial_db
      - REDIS_URL=redis://redis:6379
      - GLM_API_KEY=your_glm_api_key_here # À CHANGER
    depends_on:
      - postgres
      - redis
    volumes:
      - ./uploads:/app/uploads

  streamlit_app:
    build: ./streamlit_app
    ports:
      - "8501:8501"  # Port par défaut de Streamlit
    environment:
      - BACKEND_URL=http://backend:8000  # URL pour que Streamlit appelle le backend
    depends_on:
      - backend
    volumes:
      - ./streamlit_app:/app # Monter le code pour le rechargement à chaud (hot-reloading)

  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=financial_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
